*{
    margin: 0;
    padding: 0;
}
.sky{
    width: 100%;
    height: 100vh;
    position: relative;
   background-image: url(background.jpg);
    overflow-x: hidden;
}
.clouds{
    position: absolute;
    top: 50px;
    height: 100px;
    right: 0;
    left: -2000px;
    width: 500%;
    background-image: url(cloud.png);
    background-repeat: repeat-x;
    animation: clouds 5s linear infinite; 
}

@keyframes clouds{
    100%{
        transform: translateX(-2000px);
    }
}
.mountains{
    position: absolute;
    bottom: 0;
    height: 100px;
    right: 0;
    left: -2000px;
    width: 500%;
    background-image: url(mountain.png);
    background-repeat: repeat-x;
    animation: mountains 5s linear infinite; 
}

@keyframes mountains{
    100%{
        transform: translateX(-2000px);
    }
}
.airplane{
    
    position: absolute;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    font-size: 72px;
    color: white;
  }
  
  